* {
	margin: 0;
	padding: 0;
	overflow: visible;
}
body {
	background: #eaf6f6;
}

.mapboxgl-ctrl {
	display: none;
}
.mapboxgl-control-container {
	display: none;
}

.custom-nav-mobile-wrapper {
	display: none;
}

.dash-hero-wrapper {
	height: 230px;
	flex-shrink: 0;
	width: 100%;
	color: #ffffff;
	border: 1.5px solid #62a4a6;
	background: linear-gradient(
		180deg,
		#0a4f51 40.1%,
		rgba(0, 18, 10, 0) 179.95%
	);
}

.dash-links-div {
	width: 100%;
	height: auto;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
}
.dash-links-div .dash-link {
	/* background: yellow; */
	/* color: #1c274c;
	width: 100%;
	margin: 0 10px;
	text-align: center;
	padding: 20px;
	padding-top: 10px;
	border: 1px solid #a0a8a8;
	border-radius: 10px; */
	margin: 0 5px;
	border: 1px solid #a0a8a8;
	border-radius: 1rem;
	display: flex;
	padding: 20px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
	flex: 1 0 0;
}
.dash-links-div .dash-link-active {
	background: #68c5c5;
}
.dash-links-div .dash-link a {
	color: inherit;
	text-decoration: none;
}

.dash-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Profile */
.user-profile-wrapper {
	/* background-color: red; */
	padding-top: 30px;
	padding-bottom: 30px;
}

.profile-wrapper {
	padding: 0;
	height: auto;
}
.wrapper-container {
	/* background-color: purple; */
	padding-top: 30px;
	padding-bottom: 30px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.profile {
	/* background-color: yellow; */
	background-color: #f0f8edd3;
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 5px;
	border-radius: 15px;
	box-shadow: 7px 7px 37px -3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 7px 7px 37px -3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 7px 7px 37px -3px rgba(0, 0, 0, 0.5);
}

.user-avatar {
	border: 1px solid rgba(128, 128, 128, 0.171);
	border: 1px solid white;
	border-radius: 100%;
	overflow: hidden;
}

.user-details {
	margin-right: 20px;
	font-size: 12px;
}
.user-details h6 {
	font-weight: 900;
	font-size: 18px;
	text-transform: capitalize;
}
.user-details p {
	color: grey;
}

.book-ride-btn {
	width: 15%;
}
.book-ride-btn a {
	text-decoration: none;
}
.book-ride-btn a:hover,
.book-ride-btn a:active,
.book-ride-btn a:focus,
.book-ride-btn button {
	text-decoration: none;
	outline: none;
}

/* .dash-links-div .dash-link {
  grid-column: 1/3;
    grid-row: 50px;
    background: yellow;
    
} */

.dot {
	font-size: 10px;
	margin-right: 2px;
	display: inline;
	font-weight: 900;
}

.trips {
	margin-bottom: 100px;
}
.trips .div-title {
	height: 50px;
	/* width: 250px; */
	width: auto;
}
.trips hr {
	width: 75%;
	margin: 0;
}
.trips .div-title h6 {
	font-size: 2rem;
	text-transform: capitalize;
	color: #1e1e1e;
	font-family: Roboto;
	/* font-size: 41.887px; */
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.trip-cards {
	/* background-color: pink; */
	/* padding: 20px; */
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: minmax(200px, auto);
	gap: 50px;
}
.trip-card {
	/* background-color: orange; */
	background-color: white;
	border: 1px solid rgba(128, 128, 128, 0.486);
	border-radius: 20px;
}
.trip-card .details {
	/* background-color: green; */
	margin: 0 auto;
	padding: 20px;
	width: 80%;
	display: flex;
	justify-content: space-between;
}

.loc-icon-wrapper {
	position: relative;
	/* height: 500px; */
}
.loc-icon {
	position: absolute;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: minmax(20px, auto);
	gap: 2px;
}

.circle-icon {
	grid-column: 1/3;
	grid-row: 1;
	justify-self: center;
	color: #1c274c;
}

.icon-border {
	margin: 0 auto;
	border: 1px dotted #1c274c;
	height: 200px;
	grid-column: 1/3;
	grid-row: 1/6;
	height: 100%;
}
.marker-icon {
	grid-column: 1/3;
	grid-row: 6;
	justify-self: center;
	color: #1c274c;
}

.pickup-drop,
.time-start-end {
	margin-left: 25px;
}

.time-location {
	padding: 15px;
	display: flex;
	/* justify-content: space-between; */
	justify-content: space-evenly;
	color: #34394a;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	line-height: 40px; /* 138.75% */
}
.time-location h6 {
	color: grey;
}

.dash-cards div {
	color: var(--white);
	background: var(--light-bg-green);
	padding: 10px;
	border-radius: 10px;
	box-shadow: 3px 3px 0px 0px var(--grey);
	-webkit-box-shadow: 3px 3px 0px 0px var(--grey);
	-moz-box-shadow: 3px 3px 0px 0px var(--grey);
}

.dash-cards {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(30px, auto);
	gap: 10px;
}
.d-card-1 {
	grid-column: 1/6;
}
.d-card-1 h5 {
	margin-top: 20px;
}
.d-card-2 {
	grid-column: 7/12;
}

.trip-details > .container {
	background: var(--light-bg-green);
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(15px, auto);
	grid-gap: 0px;
	padding: 60px;
	border-radius: 20px;
	box-shadow: -1px 5px 30px -2px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: -1px 5px 30px -2px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: -1px 5px 30px -2px rgba(0, 0, 0, 0.7);
}
.location {
	grid-column: 1/7;
	grid-row: 1/2;
	background-color: var(--white);
	padding: auto;
}
.destination {
	grid-column: 1/7;
	grid-row: 3/4;
	background-color: var(--white);
	padding: auto;
	border-top-right-radius: 20px;
}
.departure {
	grid-column: 8/12;
	grid-row: 2/3;
	background-color: var(--white);
	padding: auto;
}
hr {
	grid-column: 1/13;
	/* color: red; */
	/* color: #95bab6; */
	color: #c4e4e5;
}
.trip-route {
	grid-column: 1/13;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(10px, auto);
}
.trip-route select {
	grid-column: 1/7;
}

.trip-route button:nth-child(even) {
	grid-column: 8/10;
}
.trip-route button:nth-child(odd) {
	grid-column: 11/13;
}

.pad {
	padding: 10px;
	outline: none;
	border: none;
	background-color: transparent;
}

.form-control {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.form-control:focus {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.ride-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: (50px, auto);
	grid-gap: 10px;
	padding: 5px;
	/* margin-bottom: 500px; */
}
.ride-container img {
	grid-column: 1/4;
	width: 100%;
	overflow: hidden;
}

.ride-details {
	grid-column: 4/11;
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	gap: 10px;
}
.ride-title {
	grid-column: 1/13;
}
.ride-details .ride-detail:nth-child(2) {
	/* color: red; */
	grid-column: 1/4;
	text-transform: capitalize;
	text-align: center;
}
.ride-details .ride-detail:nth-child(3) {
	/* color: red; */
	grid-column: 5/8;
	text-transform: capitalize;
	text-align: center;
}
.ride-details .ride-detail:nth-child(4) {
	/* color: red; */
	grid-column: 9/12;
	text-transform: capitalize;
}
.ride-details span {
	color: var(--light-bg-green);
	display: block;
	text-transform: lowercase;
}
.price-tag {
	grid-column: 11/13;
	text-align: center;
}

.price {
	font-weight: 700;
	font-size: 32px;
	display: inline-block;
}
.price span {
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
}
.price p {
	font-size: 20px;
	/* color: var(--light-bg-green); */
}
.price-tag button {
	/* background: var(--light-bg-green); */
	color: white;
	width: 100%;
}
.price-tag button:hover {
	background: #0a9196;
	color: white;
	transition: ease-in-out;
}
/* Start Booking form refactoring */
.container-booking {
	padding: 50px;
	border-radius: 30px;
	background: #0a4f51;
	background: #063a27;
	background: #afdbdbc4;
	box-shadow: 2px 3px 18px -7px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 2px 3px 18px -7px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 2px 3px 18px -7px rgba(0, 0, 0, 0.75);
}

.booking-div-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.booking-location-details {
	width: 60%;
}

.location-wrapper,
.destination-wrapper {
	/* background-color: white; */
	background: whitesmoke;
	border-radius: 20px;
	padding: 5px;
	margin: 8px;
	display: flex;
	justify-content: space-around;
}

.departure-date-wrapper {
	/* background-color: white; */
	background: whitesmoke;
	height: 30%;
	width: 20%;
	border-radius: 20px;
	padding: 8px;
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
	align-items: baseline;
}

.selector {
	width: 90%;
	padding: 2px;
	outline: none;
	border: none;
	background: transparent;
}

.extra-journey-data-wrapper {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

.extra-journey-data-wrapper .passengers {
	background-color: white;
	width: 20%;
	border-radius: 20px;
	text-align: center;
}

.passengers select {
	outline: none;
	border: none;
	padding: 10px 5px;
	width: 80%;
}

.departure-wrapper,
.reroute-wrapper,
.book-ride-btn {
	border-radius: 50px;
	width: 30%;
}
.journey-btn {
	padding: 10px;
	outline: none;
	border: none;
	border-radius: 50px;
	width: 100%;
	font-weight: 600;
}

.book-ride-btn button {
	padding: 10px;
	outline: none;
	border: none;
	border-radius: 50px;
	width: 100%;
	font-weight: 600;
}

.logout-btn {
	background: white;
	color: #0a4f51;
	outline: none;
	border: none;
	padding: 5px;
	width: 100px;
}
.logout-btn:hover {
	color: white;
	background: #074042;
	transition: 0.5s;
}

.nav-btn {
	background: none;
}

.journey-btn {
	background: white;
	color: #0a4f51;
}
.book-ride-btn button {
	color: white;
	background: #2e6263;
}
.book-ride-btn button:hover,
.book-ride-btn button:active {
	background: #0a4f51;
}

.journey-btn:active {
	background: #0a4f51;
	color: white;
	transition: 0.5s;
}

.route-active {
	padding: 10px;
	outline: none;
	border: none;
	border-radius: 50px;
	width: 100%;
	font-weight: 600;
	background: #0a4f51;
	color: white;
}

/*************************************************MEDIA QUERIES****************************************************************/
/* TABLET */

@media (max-width: 991px) {
	.extra-journey-data-wrapper .passengers {
		width: 25%;
		display: flex;
		justify-content: center;
	}
	.passengers select {
		/* padding: 5px; */
		border-radius: 60px;
		width: 100%;
		font-size: 14px;
	}
	.departure-wrapper,
	.reroute-wrapper,
	.book-ride-btn button {
		font-size: 14px;
	}
}

@media (max-width: 991px) {
	.profile {
		width: 70%;
		gap: 20px;
	}
}
@media (max-width: 834px) {
	.trip-details > .container {
		grid-column: 1/12;
		padding: 0;
		padding-left: 50px;
		padding-top: 40px;

		box-shadow: 0px 0px 0px 0px var(--grey);
		-webkit-box-shadow: 0px 0px 0px 0px var(--grey);
		-moz-box-shadow: 0px 0px 0px 0px var(--grey);
	}
	hr {
		display: absolute;
		z-index: -54;
	}
	.location {
		grid-column: 1/11;
		grid-row: 1/2;
		background-color: var(--white);
		padding-right: 10px;
	}

	.destination {
		grid-column: 1/11;
		grid-row: 3/4;
		background-color: var(--white);
		padding-right: 10px;
		margin-top: -30px;
	}

	.departure {
		grid-column: 1/11;
		grid-row: 4/5;
		background-color: var(--white);
	}
	.trip-route input {
		grid-column: 1/11;
		font-size: 10px;
	}
	.trip-route button:nth-child(even) {
		grid-column: 1/6;
		grid-row: 5/6;
		margin-bottom: 50px;
		font-size: 14px;
	}
	.trip-route button:nth-child(odd) {
		grid-column: 7/10;
		grid-row: 5/6;
		margin-bottom: 50px;
		font-size: 14px;
	}
	.ride-container img {
		grid-column: 1/13;
		grid-row: 1/3;
	}

	.ride-details {
		grid-column: 1/13;
		grid-row: 3/5;
		display: grid;
		grid-template-columns: repeat(11, 1fr);
		gap: 10px;
	}
	.ride-title {
		grid-column: 1/13;
		grid-row: 1/2;
	}
	.price-tag {
		grid-column: 1/13;
		grid-row: 5/10;
	}
	.price-tag button {
		width: 300px;
	}
	.d-card-2 {
		display: none;
	}
	.d-card-1 {
		grid-column: 1/12;
		font-size: 0.3rem;
		margin-left: 12px;
	}
	/* .d-card-1 h2{
		font-size: 0.2rem;
	} */
	.d-card-1 h2 {
		font-size: 1rem;
	}
	.mb-d-card-1 {
		display: none;
	}
	.numpas {
		padding: 18px;
	}
}

@media (max-width: 450px) {
	.trip-details > .container {
		grid-column: 1/12;
	}
	.trip-route button:nth-child(even) {
		margin-bottom: 40px;
		font-size: 12px;
		padding: 10px;
	}
	.trip-route button:nth-child(odd) {
		margin-bottom: 40px;
		font-size: 12px;
		padding: 10px;
	}
	.ride-details {
		font-size: 10px;
	}
	.d-card-2 {
		display: none !important;
	}
	.d-card-1 {
		grid-column: 1/12;
		font-size: 0.6rem;
	}
	.d-card-1 h2 {
		font-size: 1rem;
	}
	.mb-d-card-1 {
		display: none;
	}
}

@media (max-width: 767px) {
	.profile {
		width: 70%;
		gap: 20px;
	}

	.booking-location-details {
		width: 70%;
	}
	.booking-location-details svg,
	.departure-date-wrapper svg {
		width: 20px;
		height: 20px;
	}

	.departure-date-wrapper {
		width: 30%;
	}

	.extra-journey-data-wrapper {
		font-size: 12px;
	}
	.extra-journey-data-wrapper .passengers {
		width: 30%;
		display: flex;
		justify-content: center;
		padding: 0;
	}
	.passengers select {
		/* padding: 5px; */
		border-radius: 60px;
		width: 97%;
		font-size: 12px;
	}
	.departure-wrapper,
	.reroute-wrapper {
		padding: 0;
		font-weight: 400;
	}

	.dash-links-div {
		width: 100%;
		height: auto;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		row-gap: 10px;
	}
}

@media (max-device-width: 749px) {
	.dash-nav-wrapper,
	.dash-hero-wrapper {
		display: none;
	}

	/* Custom Nav Mobile */
	.custom-nav-mobile-wrapper {
		display: flex;
		width: 100%;
		background: #0a4f51;
	}

	.mobile-nav-overlay {
		position: absolute;
		z-index: 40;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #0f4a4c;
		opacity: 0.9;
		backdrop-filter: blur(1000px);
	}

	.mobile-nav-content-wrapper {
		position: relative;
		z-index: 50;
		display: flex;
		flex-direction: column;
		align-items: end;
		padding: 10px 15px;
		gap: 10px;
		color: #fff;
	}

	.mobile-nav-content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.custom-nav-wrapper {
		display: none;
	}
	.custom-nav-mobile {
		/* background-color: #ffff; */
		display: inline-flex;
		padding: 5px 10px;
		justify-content: space-between;
		align-items: center;
	}

	.user-profile-wrapper {
		background: linear-gradient(
			180deg,
			#0a4f51 40.1%,
			rgba(0, 18, 10, 0) 179.95%
		);
		border: 1.5px solid #62a4a6;
		padding: 0;
		display: flex;
		align-items: center;
		position: relative;
	}

	.wrapper-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	.profile {
		background-color: inherit;
		width: 60%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 5px;
		padding: 5px;
		margin: 0 auto;
		border-radius: 15px;
		box-shadow: none;
		color: #fff;
	}

	/* .user-avatar {
		border: none;
	} */

	.user-details {
		margin-right: 20px auto;
		text-align: center;
		font-size: 12px;
		width: 100%;
	}
	.user-details h6 {
		font-weight: 900;
		font-size: 18px;
	}
	.user-details p {
		color: #fff;
	}

	.trips {
		margin-top: 50px;
		margin-bottom: 200px;
	}

	.trip-cards {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-auto-rows: minmax(200px, auto);
	}
	.trip-card {
		background-color: white;
		border: 1px solid rgba(128, 128, 128, 0.486);
		border-radius: 20px;
	}

	.time-location {
		padding: 20px;
		display: flex;
	}
}

@media (max-width: 460px) {
	.extra-journey-data-wrapper {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		flex-direction: column;
		row-gap: 10px;
		width: 100%;
	}
	.extra-journey-data-wrapper .passengers {
		grid-column: 1/5;
		width: 100%;
	}
	.departure-wrapper {
		grid-column: 1/3;
		width: 100%;
	}
	.reroute-wrapper {
		grid-column: 3/5;
		width: 100%;
	}

	.book-ride-btn {
		grid-column: 1/5;
		width: 100%;
		display: flex;
	}
	.book-ride-btn button {
		width: 50%;
		margin: 0 auto;
	}
}
